* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.bg {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    /*background*/
    background-color: red;
    background-image: url('../imagens/IMG-20200423-WA1091.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}